body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(188, 188, 238);
}
.container{
    height: 450px;
    width: 600px;
    justify-content: center;
    align-items: center;
}
.form{
    height:400px ;
    display: flex;
    flex-direction: column;
}
input{
    height: 30px;
    width: 300px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rebeccapurple;
}

button{
    margin: 20px;
    height: 20px;
    width: 60px;
    border-radius: 2rem;
    background-color: bisque;
}